<section id="create-new-todo">
  <div class="container">
    <div class="row">
      <form class="col-sm-8 col-sm-offset-2">
        <h1>Create a Todo</h1>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="todo-name">Name</label>
              <input type="text" class="form-control" id="todo-name" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="completion-status">Finished</label>
              <input type="checkbox" id="completion-status" />
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="todo-type">Type</label>
              <select class="form-control" id="todo-type" >
                <option value="0">Choose Type</option>
                <option value="1">Work</option>
                <option value="2">Chore</option>
                <option value="3">Project</option>
                <option value="4">Programming Study</option>
                <option value="5">Japanese</option>
                <option value="6">Exercise</option>
                <option value="7">Family</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="todo-description">Description</label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>

        <button id="submit-new-todo" class="btn btn-default">Create</button>
      </form>
    </div>
  </div>
</section>
