<section id="create-new-todo">
  <div class="container">
    <div class="row">
      <form class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="todo-name">Name</label>
              <input type="text" ng-model="vm.todo.name" class="form-control" id="todo-name" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="completion-status">Finished</label>
              <input type="checkbox" ng-model="vm.todo.finished" id="completion-status" />
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="todo-type">Type</label>
              <select ng-model="vm.todo.type" class="form-control" id="todo-type" >
                <option selected value="">Choose Type</option>
                <option value="work">Work</option>
                <option value="chore">Chore</option>
                <option value="project">Project</option>
                <option value="study">Study</option>
                <option value="japanese">Japanese</option>
                <option value="exercise">Exercise</option>
                <option value="family">Family</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="todo-description">Description</label>
              <textarea ng-model="vm.todo.description" class="form-control"></textarea>
            </div>
          </div>
        </div>

        <button ng-click="vm.submit()" id="submit-new-todo" class="btn btn-default">Save</button>
        <button ng-click="vm.launchDequeueModal()" ng-if="vm.dequeueableForm" class="btn btn-danger">Dequeue</button>
      </form>
    </div>
  </div>
</section>
