<div id="show-todo" ng-if="todo">
    <div class="row">
      <div class="todo-name col-xs-9">{{todo.name}}</div>
      <todo-type-tag todo="todo"></todo-type-tag>
    </div>

  <p class="todo-description">{{todo.description}}</p>

  <div class="todo-status">
    <span class="completion-label">Completed: </span>
    <span class="completion-status">{{todo.finished}}</span>
  </div>

  <div class="row">
    <div class="edit-todo-buttons text-center">
      <button ng-click="toggleTodoFinished()" class="btn btn-primary">{{toggleButtonText}}</button>
      <buttonn class="btn btn-danger">Delete</button>
      </div>
  </div>
</div>
