<div id="show-todo" ng-if="todo">
  <button ng-click="unselectTodo()" id="close" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="todo-name-and-tag">
    <div class="todo-name">{{todo.name}}</div>
    <todo-type-tag todo="todo"></todo-type-tag>
  </div>

  <p class="todo-description">{{todo.description}}</p>

  <div class="todo-status">
    <span class="completion-label">Completed: </span>
    <span class="completion-status">{{todo.finished}}</span>
  </div>

    <div class="edit-todo-buttons text-center">
      <button ng-click="toggleTodoFinished()" class="btn btn-primary">{{toggleButtonText}}</button>
      <buttonn class="btn btn-danger">Delete</button>
    </div>
</div>
