<section id="todos" class="container">
  <h1>TODOS</h1>

  <div class="row">
    <div class="col-sm-6 todo-info">
      <div id="show-todo" ng-if="vm.selectedTodo">
          <div class="row">
            <div class="todo-name col-xs-9">{{vm.selectedTodo.name}}</div>
            <div class="todo-task-type col-xs-3">blue</div>
          </div>

        <p class="todo-description">{{vm.selectedTodo.description}}</p>

        <div class="todo-status">
          <span class="completion-label">Completed: </span>
          <span class="completion-status">{{vm.selectedTodo.finished}}</span>
        </div>

        <div class="row">
          <div class="edit-todo-buttons text-center">
            <button class="btn btn-primary">Toggle</button>
            <buttonn class="btn btn-danger">Delete</button>
            </div>
        </div>
      </div>

      <div id="todo-stats">
        <div>TASK CATEGORIES PI GRAPH PLACE HOLDER</div>
        <div>PROGRESS BAR PLACE HOLDER</div>
      </div>
    </div>

    <div class="col-sm-6">
      <h2>From This Week</h2>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <input id="search-todos" class="form-control" type="text" placeholder="search..."/>
        </div>
      </div>
      <button id="add-todo"><div>+</div></button>
      <todos-list select-todo="vm.setSelectedTodo(todo)" todos="vm.todos"></todos-list>
    </div>
  </div class="row">
</section>
