<section id="work-bench" >

    <section id="todos-index">
      <input id="search-todos" class="form-control" type="text" placeholder="search..."/>
      <todos-list selected-todo="vm.selectedTodo" select-todo="vm.setSelectedTodo(todo)" todos="vm.todos"></todos-list>
    </section>

    <div id="todo-stats">
        <type-labels></type-labels>

      <div id="graphs">
        <type-graph stats="vm.typeStats" graph-id="type-graph"></type-graph>
        <completion-graph completion-stats="vm.completionStats" graph-id="completion-graph"></completion-graph>
      </div>
    </div>

    <div id="editor-mode-designation">Current mode: {{vm.editorState.currentMode}}</div>
    <div ui-view></div>

</section>
