// @import "./mixins/todos-index.scss";
// @import "./mixins/todo-type-tag.scss";
// @import "./mixins/todo-graphs.scss";

section#work-bench {
  height: 100%;

  @include todos-index();

  div#show-todo {
    height: 300px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);

    div.todo-name {
      font-size: 24px;
    }

    p.todo-description {
      height: 155px;
      margin-top: 10px;
    }

    span.completion-status {
      font-style: italic;
    }

    div.edit-todo-buttons {
      margin-top: 10px;
    }

    @include todo-type-tag();

    button#close {
      display: none;
      position: absolute;
      top: -20px;
    }

    &:hover button#close{
      display: block;
    }
  }

  div#todo-stats {
    display: flex;
    justify-content: space-around;

    @include todo-graphs();
  }

  h2 {
    text-align: center;
  }

}
