@mixin plus-button() {
    display: block;
    position: relative;
    height: 35px;
    width: 35px;
    margin: 10px auto 0;

    background: none;
    border: 1px solid gray;
    border-radius: 20px;

    text-align: center;
    font-size: 28px;

    &:hover {
      background-color: rgba(0, 0, 0, .1);
    }

    > div {
      position: absolute;
      top: -6px;
      left: 8.55px;
    }
}
