@mixin todo-type-tag() {

  div.todo-task-type {
    text-align: center;
    width: 22%;
    color: white;
  }

  // div.todo-task-type.unassigned {
  //   background-color: gray;
  // }
  //
  // div.todo-task-type.project {
  //   background-color: green;
  // }
  //
  // div.todo-task-type.chore {
  //   background-color: purple;
  // }
  //
  // div.todo-task-type.study {
  //   background-color: blue;
  // }
  //
  // div.todo-task-type.japanese {
  //   background-color: red;
  // }
  //
  // div.todo-task-type.exercise {
  //   background-color: yellow;
  // }
  //
  // div.todo-task-type.work {
  //   background-color: orange;
  // }
  //
  // div.todo-task-type.family {
  //   background-color: rgb(0, 255, 255);
  // }
}
