@mixin todos-list() {
  margin-top: 15px;

  $light-gray-border: rgba(0, 0, 0, .3);

  > li.todo-list-item:first-child > button {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  > li.todo-list-item:last-child > button {
    border-bottom: 1px solid $light-gray-border;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  li.todo-list-item {
    list-style: none;

    > button {
      display: block;
      width: 100%;
      height: 100%;

      border-top: 1px solid $light-gray-border;
      border-left: 1px solid $light-gray-border;
      border-right: 1px solid $light-gray-border;
      border-bottom: none;

      background-color: white;

      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }

    div.todo-name {
      text-align: left;
    }

    div.status {
      text-align: left;
    }

    div.todo-task-type {
      width: 22%;
      color: white;
    }

    div.todo-task-type.unassigned {
      background-color: gray;
    }

    div.todo-task-type.project {
      background-color: green;
    }

    div.todo-task-type.chore {
      background-color: purple;
    }

    div.todo-task-type.study {
      background-color: blue;
    }

    div.todo-task-type.japanese {
      background-color: red;
    }

    div.todo-task-type.exercise {
      background-color: yellow;
    }

    div.todo-task-type.work {
      background-color: orange;
    }

    div.todo-task-type.family {
      background-color: rgb(0, 255, 255);
    }
  }
}
