<section id="work-bench" >

    <todos-list selected-todo="vm.selectedTodo"
                todos="vm.todos">
    </todos-list>

    <div id="todo-stats">
        <type-labels></type-labels>

      <div id="graphs">
        <type-graph entities='vm.todos'></type-graph>
        <completion-graph entities='vm.todos'></completion-graph>
      </div>
    </div>

    <a ng-click="vm.selectNewTodo()">New Todo</a>
    <div id="editor-mode-designation">Current mode: {{vm.editorState.currentMode}}</div>
    <div ui-view></div>
</section>
