@import "./mixins/todos-index.scss";
@import "./mixins/todo-graphs.scss";
@import "./mixins/todo-card.scss";

section#work-bench {
  height: 100%;

  @include todos-index();

  @include todo-card();

  div#todo-stats {
    display: flex;
    justify-content: space-around;
    @include todo-graphs();
  }
}
