@import './type-label.scss';

@mixin todo-stats() {
  $stats-height: 100px;

  div#todo-stats {
    display: flex;
    justify-content: space-between;

    height: $stats-height;

    div#type-labels {
      display: flex;
      flex-flow: column wrap;
      height: $stats-height;
      width: 545px;

      color: white;

      @include type-label();
    }

    div#graphs {
      display: flex;
      margin: auto;
    }

    h6.graph-label {
      margin: 5px 0 -25px -27px;
      font-size: 16px;
    }

    $todo-graph-side: 100px;
    .todo-graph {
      height: $todo-graph-side;
      width: $todo-graph-side;
      margin-right: 30px;
    }
  }
}
