@mixin todo-graphs() {
  $todo-graph-side: 150px;

  h6.graph-label {
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
  }

  .todo-graph {
    height: $todo-graph-side;
    width: $todo-graph-side;
  }
}
