@import './todo-type-tag.scss';

@mixin todo-card() {
  div#show-todo {
    display: flex;
    flex-direction: column;

    position: relative;

    height: calc(100% - 100px);
    padding: 75px 15% 25px;

    button#close {
      position: absolute;
      top: 15px;
      right: 10%;
      font-size: 30px;

      opacity: 0;
      transition: opacity 0.8s ease-out;
    }

    &:hover button#close {
      display: block;
      opacity: 0.3;

      &:hover {
        opacity: 0.6;
      }
    }

    div.todo-name-and-tag {
      display: flex;
      justify-content: space-between;
    }

    div.todo-name {
      font-size: 24px;
    }

    p.todo-description {
      height: 155px;
      margin-top: 10px;
    }

    span.completion-status {
      font-style: italic;
    }

    div.edit-todo-buttons {
      margin-top: 10px;
    }

    @include todo-type-tag();

  }
}
