@import './todo-type-tag.scss';
@import './todos-index-list-item.scss';

@mixin todos-index() {
  section#todos-index {
    float: left;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-top-right-radius: 5px;

    input#search-todos {
      display: block;
      
      border-right: none;
      border-top: 0;
      border-left: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    ul#todos-list {
      padding-left: 0;
      @include todo-list-item();
    }
  }
}
